# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration (Atlas Cloud & Local MongoDB 27017)
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/studentdb?retryWrites=true&w=majority
LOCAL_MONGO_URI=mongodb://127.0.0.1:27017/studentdb
USE_LOCAL_DB=false

# JWT Configuration
JWT_SECRET=student_portal_secret
JWT_EXPIRES_IN=6h
